.DS_STORE
/.idea

/build/bin
/build/buildlang
/build/phingext
/build/tools

/documentation/*.xml~

/fof/lib_f?f.xml

/release/

/tests/config.php
/tests/environments/*/cache/
/tests/environments/*/templates/fake_test_template

/vendor/*

/fof/include.php
/fof/version.txt

release/*.zip

/strapper/akeeba_strapper/version.php
/strapper/files_strapper.xml
/strapper/version.txt

/tests/coverage
/tests/unit/config.php

/DESCRIPTION.html
/RELEASENOTES.html
